/* IMAGE */

@media screen and (min-width: 1px) { 
    .jap-img { 
        background-image: url('../Images/Bitmap-small.png');
    }

    h1 { 
        font-size: 36px;
    }

    h2 { 
        font-size: 12px;
        line-height: 18px;
    }

    .text { 
        max-width: 217px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) { 
    .jap-img { 
        background-image: url('../Images/bitmap-medium.png');
    }
    h1 { 
        font-size: 72px;
    }
    h2 { 
        font-size: 22px;
        line-height: 33px;
    }

    .text {
        max-width: 574px;
        width: 100%;
    }
}


@media screen and (min-width: 1440px) { 
    .jap-img { 
        background-image: url('../Images/bitmap-big.png');
    }
    h1 { 
        font-size: 82px;
    }
    h2 { 
        font-size: 22px;
        line-height: 34px;
    }

    .text { 
        max-width: 574px;
        width: 100%;
    }
}